@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}
body {
    color: #000000;
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}
p, a{
    font-family: 'RobotoRegular';
    color: #000;
}
.product.attribute.description p {
    font-family: 'RobotoRegular';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.catalog-product-view h1.page-title{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.product-info-main .page-title-wrapper .page-title{
    margin-bottom: 0px;
}
.product-info-main .product.attribute.overview {
    margin-top: 0px;
    margin-bottom: 0px;
}
.product-info-main .price-box .price-wrapper .price{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
.product-info-main .box-tocart .action.tocart{
    box-sizing: border-box;
    background: #000000;
    border: 0.999053px solid #000000;
    border-radius: 100px;
    padding: 14px 95px;
}
.product-info-main .box-tocart .action.tocart span{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 120%;
    display: flex;
    width: 120px;
}
.product-info-stock-sku, .product-reviews-summary.empty, .field.qty span{
    display: none;
}

/* swatch styling*/

.swatch-attribute.size .swatch-option, .swatch-attribute.manufacturer .swatch-option {
    width: 85px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 100px;
    font-size: 14px;
    padding: 6px 10px;
    color: #000;
    font-weight: 400;
    height: 32px;
}
.swatch-attribute-label {
    text-transform: uppercase;
}
.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected {
    border: 1px solid #fff;
    color: #fff;
    background: #000000;
    border: 1px solid #000000;
}
.swatch-option.selected {
    outline: 2px solid #000000;
}

/* Nav section styling*/

.sections.nav-sections {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.navigation .level0>.level-top {
    color: #575757;
    line-height: 53px;
    padding: 0 6px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
}
nav.navigation {
    background: transparent;
}

/* tab section styling*/

.page-layout-1column .product-info-main {
    width: 30%;
    float: right;
}
.page-layout-1column .product.media {
    width: 40%;
    float: right;
    padding-right: 20px;
}
.product.info.detailed {
    clear: revert;
    float: left;
    width: 28%;
}

.product.data.items>.item.title:not(.disabled)>.switch:active, .product.data.items>.item.title.active>.switch, .product.data.items>.item.title.active>.switch:focus, .product.data.items>.item.title.active>.switch:hover{
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
.product.data.items>.item.title>.switch{
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    color: #767676;
    border: none;
    background: transparent;
    padding: 5px 20px 5px 0px;
}
.product.data.items>.item.content{
    border: 0px;
    padding: 5px 20px 20px 0px;
}

/* Search hide show styling*/

.block-search input {
    top: -300%;
}
.block-search {
    position: absolute;
    right: 12%;
    top: 31px;
}
.field.search .nested, .block-search .label:before, .block-search .action.search[disabled] {
    display: none;
}

.block-search .label{
    position: relative;
    padding: 0;
    background: url(../images/magnifier.png) no-repeat center top;
    top: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.minicart-wrapper .action.showcart:before, .block-search .action.search {
    display: none !important;
}
.minicart-wrapper .action.showcart{
    position: relative;
    padding: 0;
    background: url(../images/basket.png) no-repeat center top;
    top: 8px;
    width: 30px;
    height: 25px;
    cursor: pointer;
}
.minicart-wrapper .action.showcart .counter.qty {
    background: transparent;
    color: #000;
    padding: 5px;
    bottom: 10px;
    position: relative;
    left: 5px;
}

.product-info-main .box-tocart .action.tocart span:after{
    position: relative;
    padding: 0;
    background: url(../images/arrow.png) no-repeat center top;
    top: 1px;
    width: 26px;
    height: 18px;
    content: "";
    display: inline-block;
    margin-left: 10px;
}

/* thumb image styling*/

.fotorama__arr, .fotorama__thumb__arr {
    background: #fff;
}
.fotorama__thumb-border{
    border: none;
}

/* footer top styling*/

.top-footer-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    width: 864px;
}
.top-footer-text h4{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.container.top-footer-text {
    margin-top: 5%;
}
.d-flex.align-items-center.justify-content-center.top-footer-links {
    margin-bottom: 9%;
}
.top-footer-links .p-2.bd-highlight.col-example{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
}

/* wishlist to product image styling*/

.product.media a.action.towishlist {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.product.media a.action.towishlist:after {
    content: '\e601';
    font-size: 50px;
    line-height: 24px;
    color: #7d7d7d;
    font-family: 'icons-blank-theme';
}
.product.media a.action.towishlist span, .product-info-main .product-addto-links{
    display: none;
}
ul.user-account-links-outer {
    display: inline-block;
    float: right;
    list-style: none;
    right: 2%;
    position: relative;
}
ul.user-account-links-outer li a{
    position: relative;
    padding: 0;
    background: url(../images/user.png) no-repeat center top;
    top: 8px;
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: block;
}
.swatch-attribute .SizeGuid{
    display: none;
}
.swatch-attribute.size .SizeGuid{
    display: block !important;
    float: right;
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-decoration-line: underline;
    color: #000000;
    text-transform: uppercase;
}
.panel.header {
    display: none;
}

/* responsive check */

@media (max-width:992px){
    .page-layout-1column .product.media {
        width: 57%;
    }
    .page-layout-1column .product-info-main {
        width: 40%;
    }
    .product.info.detailed{
        width: 100%;
    }
    .product.info.detailed {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .page-layout-1column .product-info-main {
        width: 100%;
        float: left;
    }
    .block-search {
        top: 9px;
    }
   .sections.nav-sections{
       background: #fff;
    }
    .page-layout-1column .product.media {
        width: 100%;
        float: left;
    }
    .product.info.detailed {
        width: 100%;
        float: left;
    }
    .product-options-bottom .field.qty, .product-options-bottom .actions{
        display: inline-block;
    }
    .product-info-main .box-tocart .actions .action.tocart {
        width: auto;
    }
    .block-search {
        right: 15%;
        margin-top: 6px;
    }
    .block-search .control{
        border-top: none;
    }
    .nav-toggle {
        right: 5px;
        left: auto;
    }
    .minicart-wrapper {
        right: 6%;
        margin-top: 6px;
    }
    .logo{
        margin: 0 0 10px 0px;
    }
    .panel.header {
        display: block;
    }
    ul.user-account-links-outer{
        display: none;
    }
}

@media (max-width: 638px) {
    .block-search {
        right: 20%;
    }
    .minicart-wrapper {
        right: 8%;
        margin-top: 7px;
    }
}

@media (max-width: 480px) {
    .block-search {
        right: 25%;
    }
    .block-search {
        margin-top: 5px;
    }
    .minicart-wrapper {
        margin-top: 5px;
    }
    .minicart-wrapper {
        right: 10%;
    }
}
