@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/Roboto-Bold.ttf');
}
body {
    color: #000000;
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
}
.product.attribute.description p {
    font-family: 'RobotoRegular';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.catalog-product-view h1.page-title{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 96%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
}
.product-info-main .page-title-wrapper .page-title{
    margin-bottom: 0px;
}
.product-info-main .product.attribute.overview {
    margin-top: 0px;
}
.product-info-main .price-box .price-wrapper .price{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #000000;
}
.product-info-main .box-tocart .action.tocart{
    box-sizing: border-box;
    background: #000000;
    border: 0.999053px solid #000000;
    border-radius: 100px;
    padding: 14px 100px;
}
.product-info-main .box-tocart .action.tocart span{
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 120%;
}
.product-info-stock-sku, .product-reviews-summary.empty, .field.qty span{
    display: none;
}
